/*=== GERAL =============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --body-color: #1E1E1E;
    --headline: #707070;
    --paragraph: #F7F7F7;
    
    font-size: 62.5%; /* 1rem = 10px */

    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html, 
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem; /* 16px */
    
    text-align: center;

    overflow: overlay;

    background-color: var(--body-color);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    text-transform: uppercase;

    color: var(--headline);
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--paragraph);
}

.button {
    background: var(--primary-color);

    border: none;

    padding: 1.6rem 3.2rem;

    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    text-decoration: none;

    transition: background 200ms;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* Custom colors */

#backToTopButton circle {
    fill: #F5F5F5;
}

#backToTopButton path {
    stroke: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
    stroke: var(--primary-color);
}

#navigation button.open-menu path {
    stroke: var(--secondary-color);
}

/*=== NAVIGATION ========================*/

nav {
    display: flex;

    height: var(--nav-height);
    background-color: var(--primary-color);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu,
nav .close-menu {
    position: fixed;
}

nav .logo {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    text-decoration: none;
}

nav .logo img {
    width: 3.1rem;
}

nav .logo h3 {
    color: var(--secondary-color);
}

/*=== MENU-EXPANDED =====================*/

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.menu .button {
    background: var(--secondary-color);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);

    display: inline-block;
    padding: 16px 32px;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover {
    background-color: var(--body-color);
    color: var(--secondary-color);

    filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded button path {
    stroke: var(--secondary-color);
}

/*=== GAMES =============================*/

#games {
    padding-block: 0;
    padding-top: calc(10rem + var(--nav-height));
}

#games header h2 { 
    margin-bottom: 6rem;
}

#games header span { 
    color: #FF9001;
}

#games .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#games .card {
    text-align: left;
    background: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#games .card > :not(img) {
    margin: 2.4rem;
}

#games .card h3 {
    margin-block: 1.6rem;
    color: var(--headline);
}

#games .button {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    width: 24%;
    height: 5rem;
    
    padding:0;
    border-radius: 0.2rem;
    
    flex-grow: 0.2;
}

#games .button:hover {
    background-color: var(--body-color);
    filter: brightness(1.3);
}

#games .button:hover svg {
    fill: var(--secondary-color);
}

#games .button-container {
    display: flex;
    gap: 0.8rem;
}

/*=== NEWS ==============================*/

#news header h2 { 
    margin-bottom: 6rem;
}

#news .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#news .card {
    display: flex;
    gap: 2.4rem;

    align-items: center;
    text-align: left;

    background: var(--primary-color);
}

#news .card img {
    width: 40%;
}

#news .card .new {
    display: flex;
    flex-direction: column;

    text-decoration: none;
}

#news .card h3 {
    margin-block: 1.6rem;
    color: var(--headline);
}

/*=== ABOUT ============================*/

#about {
    text-align: left;
    background-color: var(--primary-color);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content a {
    color: var(--paragraph);
    text-decoration: none;
}

/*=== CONTACT ===========================*/

#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    color: var(--paragraph);
}

#contact li path {
    stroke: var(--secondary-color);
}

#contact .button {
    color: var(--secondary-color);
    border-radius: 4rem;
    width: fit-content;
}

#contact .button:hover {
    background-color: var(--body-color);
    filter: brightness(1.3);
}

/*=== FOOTER ============================*/

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;

    text-align: left;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .logo img {
    height: 3.1rem;
}

footer p {
    color: var(--paragraph);
    line-height: 2;

    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

/*=== BACK TO TOP =======================*/

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*=== RESPONSIVO ========================*/

@media (min-width: 1024px) {
    
    /*=== GERAL =============================*/
    
    body {
        overflow: auto;
    }

    .wrapper {
        width: min(112rem, 100%);
    }

    section {
        padding-block: 16rem;
    }

    section header h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    /*=== NAVIGATION ========================*/

    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        filter: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }
    
    nav#navigation .logo {
        display: flex;
        align-items: center;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }
    
    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .logo h3,
    nav#navigation .menu ul li a {
        color: var(--secondary-color);
    }

    nav#navigation .menu a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;

        border-radius: 4rem;

        background-color: var(--secondary-color);
        color: var(--primary-color);

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }

    nav#navigation .menu a.button:hover {
        background-color: var(--body-color);
        color: var(--secondary-color);
    }
    
    nav#navigation.scroll .menu a.button {
        color: var(--secondary-color);
        background-color: #00c753;
    }
    
    nav#navigation .menu li a.active, 
    nav#navigation .menu li a:hover {
        font-weight: 700;
    }
    
    nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--secondary-color);

        position: relative;
        bottom: -2rem;
        left: -0.5rem;

        display: block;

        transition: width 0.2s;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }
    
    nav#navigation.scroll .menu a.button.active,
    nav#navigation.scroll .menu a.button:hover {
        background-color: var(--body-color);
        filter: brightness(1.3);
    }
    
    /*=== GAMES =============================*/
    
    #games .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #games .card {
        width: 40%;
        flex-grow: 1;
    }

    /*=== NEWS ==============================*/

    #news .cards {
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: flex-start;
    }
    
    #news .card {
        width: 45%;
    }
    
    #news .card .new {
        padding-right: 2.4rem;
    }

    /*=== FOOTER ============================*/

    footer .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    .col-a {
        grid-area: A;
        align-self: center;
    }

    .col-b {
        grid-area: B;

        align-self: center;
        justify-self: flex-end;
    }
}
